---
interface Props {
  question: string;
  answer: string;
}

const { question, answer } = Astro.props;
---

<article class="animate-fade-in-up">
  <header
    class="mb-4 flex flex-col gap-6 sm:flex-row sm:items-center lg:flex-col lg:items-start xl:flex-row"
  >
    <div class="relative group w-14 h-14">
      <div
        class="absolute inset-x-5 h-2 bottom-0 bg-rose-400 dark:bg-yellow-400 blur-md opacity-50"
      >
      </div>
      <div
        class="relative overflow-hidden h-14 w-14 rounded-2xl p-px bg-gradient-to-b from-slate-200 to-slate-300 dark:from-slate-700 dark:to-[#171C23] shadow-lg shadow-black/5"
      >
        <div
          class="absolute inset-x-4 h-4 -bottom-2 bg-rose-400 dark:bg-yellow-400 blur-lg dark:opacity-80"
        >
        </div>
        <div
          class="relative h-full w-full rounded-[15px] bg-gradiennt-radial from-white to-slate-100 dark:from-[#393C45] dark:to-[#171C23] flex justify-center items-center"
        >
          <div
            class="absolute inset-x-4 h-4 -bottom-2 bg-rose-400 dark:bg-yellow-400 blur-lg dark:opacity-80"
          >
          </div>
          <slot name="icon" />
        </div>
      </div>
    </div>
    <h3
      class="text-black dark:text-white font-display font-extrabold leading-tight text-lg lg:text-xl dark:drop-shadow-sm undefined text-pretty"
    >
      {question}
    </h3>
  </header>
  <div>
    <p
      class="paragraph leading-relaxed text-slate-600 dark:text-slate-300 text-base max-w-md text-pretty"
    >
      {answer}
    </p>
  </div>
</article>
