---
import Logo from "@components/shared/Logo.astro";
import MenuDesktop from "@components/nav/desktop/MenuDesktop.astro";
---

<div
  class="relative mx-auto hidden w-full max-w-screen-xl items-center justify-end px-8 md:flex lg:px-12"
>
  <div class="absolute top-0 left-8 flex h-12 items-center lg:left-12">
    <Logo />
  </div>
  <MenuDesktop />
</div>
