---
import WhatsappIcon from "@icons/whatsapp.astro";
interface Props {
  href?: string;
}

const { href } = Astro.props;
---

<a
  href={href}
  class="group rounded-full bg-gradient-to-b from-yellow-400/50 to-yellow-500/50 shadow shadow-yellow-500/25 focus:outline-none aspect-square"
  target="_blank"
>
  <div
    class="flex h-full items-center justify-center rounded-full bg-[#93edc5] text-slate-800 hover:bg-[#4befa5] dark:bg-[#1a332b] dark:text-slate-50 dark:hover:bg-[#1c3b31] font-bold p-3 transition-colors duration-200 aspect-square"
  >
    <WhatsappIcon
      size={25}
      classSvg="fill-current opacity-50 dark:drop-shadow text-[#1e293b] dark:text-white"
    />
  </div>
</a>
