---
import EnlaceBtn from "@components/buttons/EnlaceBtn.astro";
import LlamaYaBtn from "@components/buttons/LlamaYaBtn.astro";

import SelectIcon from "@icons/select-icon.astro";
---

<section
  id="contacto"
  class="relative mx-auto w-full max-w-screen-xl px-6 sm:px-8 lg:px-12 group overflow-hidden pb-24 lg:pb-48 flex flex-col items-start lg:items-center pt-16 lg:pt-24"
>
  <div
    class="absolute -top-12 left-1/2 bg-indigo-400 dark:bg-yellow-400/60 w-1/2 h-32 blur-3xl sm:blur-4xl transition-opacity duration-500 opacity-40 group-hover:opacity-60 rounded-50-50 [transform:translate3d(-50%,_0,_0)]"
  >
  </div>
  <h2
    class="text-black dark:text-white font-display font-extrabold leading-tight text-3xl sm:text-4xl lg:text-5xl dark:drop-shadow-lg lg:text-center"
  >
    Confía en nosotros
  </h2>
  <p
    class="paragraph leading-relaxed text-slate-600 dark:text-slate-300 text-base mt-7 mb-8 max-w-lg lg:text-center"
  >
    Si tienes alguna duda o necesitas más información, no dudes en contactar con nosotros. Estaremos encantados de ayudarte.
  </p>
  <div class="flex flex-wrap gap-2">
    <LlamaYaBtn href="tel:+34604974571" />
    <EnlaceBtn
      href="https://wa.me/34604974571"
      title="Whatsapp"
      classColors="bg-[#93edc5] text-slate-800 hover:bg-[#4befa5] dark:bg-[#1a332b] dark:text-slate-50 dark:hover:bg-[#1c3b31]"
    >
      <SelectIcon
        icon="whatsapp"
        size={16}
        classSvg="fill-current opacity-50 text-green-800 dark:text-green-400 dark:drop-shadow"
        slot="icon"
      />
    </EnlaceBtn>
    <EnlaceBtn href="mailto:recambiosexpressbaterias@gmail.com" title="Email">
      <SelectIcon
        icon="email"
        size={16}
        classSvg="fill-current opacity-50 text-green-800 dark:text-green-400 dark:drop-shadow"
        slot="icon"
      />
    </EnlaceBtn>
  </div>
</section>
