---
import NavDesktop from "@components/nav/desktop/NavDesktop.astro";
import NavMobile from "@components/nav/mobile/NavMobile.astro";
---

<header class="relative">
  <nav class="relative z-50 w-full pt-4 md:pt-6 lg:pt-10">
    <NavMobile />
    <NavDesktop />
  </nav>
</header>
