---
import EnlaceBtn from "@components/buttons/EnlaceBtn.astro";
import LlamaYaBtn from "@components/buttons/LlamaYaBtn.astro";
import WhatsappIcon from "@icons/whatsapp.astro";
import { hero } from "src/data/dataHero.json";

const { title, tagline, description } = hero;
---

<section
  id="inicio"
  class="relative mx-auto w-full max-w-screen-xl px-6 sm:px-8 lg:px-12 pt-32 pb-16 lg:pt-48"
>
  <div
    class="mb-1 flex items-center space-x-4 font-mono uppercase text-indigo-500 dark:text-yellow-400 sm:mb-3 animate-fade-in-up duration-1000"
  >
    <h1>{title}</h1>
    <span class="text-black/20 dark:text-white/20">///</span>
  </div>
  <h2
    class="text-black dark:text-white font-display font-extrabold leading-tight text-3xl sm:text-4xl lg:text-5xl dark:drop-shadow-lg max-w-2xl text-pretty animate-fade-in-up duration-1000 [animation-delay:200ms]"
  >
    {tagline}
  </h2>
  <p
    class="paragraph leading-relaxed text-slate-600 dark:text-slate-300 text-lg mt-8 lg:mt-12 max-w-xl animate-fade-in-up duration-1000 [animation-delay:400ms]"
  >
    <span set:html={description} />
  </p>
  <div class="flex flex-wrap gap-2 mt-8 animate-fade-in duration-1000 [animation-delay:500ms]">
    <LlamaYaBtn href="tel:+34604974571" />
    <EnlaceBtn
      href="https://wa.me/34604974571"
      title="Hablemos"
      classColors="bg-[#93edc5] text-slate-800 hover:bg-[#4befa5] dark:bg-[#1a332b] dark:text-slate-50 dark:hover:bg-[#1c3b31]"
    >
      <WhatsappIcon
        size={16}
        classSvg="fill-current opacity-50 text-green-800 dark:text-green-400 dark:drop-shadow"
        slot="icon"
      />
    </EnlaceBtn>
  </div>
</section>
