---
import CardOverview from "@components/shared/CardOverview.astro";
import SelectIcon from "@icons/select-icon.astro";

import points from "src/data/overview.json";
---

<section
  id="servicios"
  class="relative mx-auto w-full max-w-screen-xl px-6 sm:px-8 lg:px-12 pt-16 lg:pt-24"
>
  <div
    class="grid grid-cols-1 gap-12 lg:gap-x-16 md:grid-cols-2 lg:grid-cols-3"
  >
    {
      points.map(({ icon, question, answer }) => {
        return (
          <CardOverview question={question} answer={answer}>
            <SelectIcon
              icon={icon}
              classSvg="fill-current h-7 text-indigo-400 dark:text-yellow-400 transition-transform"
              slot="icon"
            />
          </CardOverview>
        );
      })
    }
  </div>
</section>
