---
import Layout from '../layouts/Layout.astro';
import Header from '../components/sections/Header.astro';
import Hero from '../components/sections/Hero.astro';
import BlurBackground from '@components/BlurBackground.astro';
import SectionSeparator from '@components/shared/SectionSeparator.astro';
import Overview from '@components/sections/Overview.astro';
import About from '@components/sections/About.astro';
import FloatMenu from '@components/nav/mobile/FloatMenu.astro';
import Contact from '@components/sections/Contact.astro';
import Footer from '@components/sections/Footer.astro';
import Brands from '@components/sections/Brands.astro';
---

<Layout title="Recambio de Baterías Express - Servicio 24 Horas">
	<BlurBackground />
	<Header />
	<main class="relative">
		<Hero />
		<Brands />
		<SectionSeparator />
		<Overview />
		<About />
		<SectionSeparator />
		<Contact />
	</main>
	<Footer />
	<FloatMenu />
</Layout>

<style>

</style>
