---
import CallFloatBtn from "@components/buttons/CallFloatBtn.astro";
import WhatsappFloatBtn from "@components/buttons/WhatsappFloatBtn.astro";

const telefono = "tel:+34604974571"
const whatsapp = "https://wa.me/34604974571"
---

<div class="opacity-0 fixed bottom-8 right-5 gap-3 flex md:hidden flex-col animate-fade-scroll [animation-timeline:scroll()] [animation-range:25%_30%]">
    <WhatsappFloatBtn href={whatsapp} />
    <CallFloatBtn href={telefono} />
</div>