---
import Whatsapp from "@icons/whatsapp.astro";
---

<a class="fixed right-4 bottom-4 bg-[#25d366] hover:bg-[#0aa041] transition-colors px-4 py-4 rounded-full" href="https://wa.me/34604974571" target="_blank">
    <Whatsapp classSvg="text-[#f8f7f3]" size={30} />
</a>