<section
    class="w-full h-screen bg-[url('/hero-mobile.png')] md:bg-[url('/hero.png')] bg-cover bg-center bg-no-repeat flex flex-col md:flex-row justify-center items-center gap-4 p-2 md:p-4 lg:p-6"
>
    <h1
        class="font-bold text-3xl tracking-widest uppercase text-balance leading-relaxed text-center"
    >
        Cambio de Baterías <strong class="text-[#f6c543]">Express</strong> 24H
    </h1>
    <div class="w-full bg-black/50 text-center text-wrap text-xl p-4">
        <p>
            Servicio <strong class="text-[#f6c543]">urgente</strong> a domicilio
        </p>
        <p><strong>Madrid - Toledo y alrededores</strong></p>
    </div>
    <div class="w-full flex justify-center">
        <a
            class="text-white text-center bg-yellow-500 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-lg px-5 py-2.5 dark:bg-yellow-500 dark:hover:bg-yellow-500 focus:outline-none dark:focus:ring-yellow-500 uppercase flex items-center gap-x-2"
            href="tel:+34604974571"
        >
        <span>Llama ya</span>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-phone"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                    d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"
                ></path></svg
            >
        </a>
    </div>
</section>
