---
import { Image } from "astro:assets";

import logoSvg from '../assets/svg/logo.svg';
---

<div itemscope itemtype="https://schema.org/Organization" class="flex flex-row">
    <span class="inline-flex items-center font-bold tracking-wider text-base md:text-xl lg:text-2xl gap-1">
        <Image
        itemprop="logo"
        src={logoSvg}
        alt="Cambio de Baterías Express 24H"
        class="w-12"
        width={48}
        height={48}
        loading="eager"
        />
        <a href="/" class="text-[#f8f7f3] hover:text-[#f4f4f4]">
            <h1 class="text-lg"><span itemprop="name">Baterías<strong class="text-[#f6c543] uppercase">Express</strong></span></h1>
        </a>
    </span>
</div>